<VirtualHost *:80>
	UseCanonicalName Off
	ServerName {{ server_host_name }}
	
	ProxyPass         /  {{ jenkins_host }}/ nocanon
	ProxyPassReverse  /  {{ jenkins_host }}/
	ProxyRequests     Off
	AllowEncodedSlashes NoDecode

	# Local reverse proxy authorization override
	# Most unix distribution deny proxy by default (ie /etc/apache2/mods-enabled/proxy.conf in Ubuntu)
	<Proxy {{ jenkins_host }}/*>
	  Order deny,allow
	  Allow from all
	</Proxy>

	ErrorLog /var/log/apache2/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access.log combined
</VirtualHost>